.form__label {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 767px) {
    .form__label {
        flex-direction: column;
    }
}

.form__labelText {
    padding: 10px;
    max-width: 350px;
    width: 30%;
}

@media (max-width: 767px) {
    .form__labelText {
        width: 100%;
    }
}

.form__field {
    width: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

@media (max-width: 767px) {
    .form__field {
        width: 100%;
    }
}