.form {
    margin: 0 auto;
    max-width: 70%;
}

@media (max-width: 767px) {
    .form {
        max-width: 100%;
    }
}

.form__fieldset {
    background-color: hsl(0, 0%, 95%);
    border-radius: 3px;
}

.form__adnotation {
    text-align: right;
    padding: 5px;
    color: hsl(0, 40%, 50%);
}

.form__label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

@media (max-width: 767px) {
    .form__label {
        flex-direction: column;
    }
}

.form__labelText {
    padding: 10px;
    max-width: 350px;
    width: 50%;
}

@media (max-width: 767px) {
    .form__labelText {
        width: 100%;
    }
}

.form__field {
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

@media (max-width: 767px) {
    .form__field {
        width: 100%;
    }
}

.form__field:required {
    border: 1px solid hsl(0, 53%, 90%);
    background-color: hsl(0, 53%, 90%);
}

.form__field:required:hover {
    border: 1px solid hsl(0, 0%, 50%);
}

.form__buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin: 10px 0;
}

.form__button {
    padding: 10px;
    background-color: hsl(203, 92%, 50%);
    border: none;
    color: hsl(0, 0%, 96%);
    max-width: 163px;
    width: 100%;
    transition: 1s;
}

.form__button:hover {
    transform: scale(1.04);
    background-color: hsl(203, 92%, 55%);
}

.form__button:active {
    background-color: hsl(203, 92%, 60%);
}